.loading {
  border: 2px solid blue;
  height: 50px;
  width: 10%;
  transition: 500ms;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes loading {
  0% {
    transform: translateX(0px);
    width: 10%;
  }
  50% {
    transform: translateX(100px);
    width: 50%;
  }
  100% {
    transform: translateX(0px);
    width: 10%;
  }
  
}