$navy: #464D77;
$red: #8A3033;
$yellow: #F9DB6D;
$cream: #F4EDED;

// @mixin mainFont($weight) {
//   font-family: 'Open Sans', sans-serif;;
//   font-weight: $weight;
// }

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h2 {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  margin: .5em auto;
}

nav {
  // background-color: $orange;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
}

// @media (min-width: 600px) {
//   .App {
//     width: 50%
//   }
// }

body {
  height: 100%;
  color: rgb(0, 0, 0)
}

.App {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0em;
  max-width: 600px;
}

.linkBox {
  width: 100%;
  height: 100%;
}

html {
  background-color: $cream;
}

.edit:hover {
  transition: 250ms;
  cursor: pointer;
  background-color: #dbe1ff;
}

.mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
}

.mark:hover {
  background-color: $navy;
  transition: 250ms;
  color: white;
  transform: scale(1.05);
}

#titleLink {
  font-size: 2em;
  color: $navy;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
}

#titleLink:hover {
  transition: 250ms;
  transform: scale(1.05);
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.submit {
  background-color: $navy;
  color: $cream;
}

.submit:hover {
  transition: 250ms;
  transform: scale(1.05);
  cursor: pointer;
  background-color: $red;
}

input {
  margin: 2px
}

.box {
  background-color: $cream 
}

a {
  color: #18314F
}

.showMark:hover {
  transform: scale(1);
  background-color: $cream;
  color: black
}

.showTitle {
  font-size: 2em;
  color: $navy;
}

.button {
  font-size: medium;
}

.is-primary {
  background-color: $navy !important;
}

.is-primary:hover {
  background-color: $red !important;
  transition: 250ms;
  transform: scale(1.05);
  cursor: pointer;
  border: none;
}

.updateButton{
  color: #dbe1ff
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
